/*======================================*/
/*HOME CLIENTE*/
/*======================================*/
.container-all-home {
  background-color: white;
  color: black;
}

/*======================================*/
/*AUTH -> LOGIN & REGISTER*/
/*======================================*/
.login-background,
.register-background {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-demo {
  background-color: #000000;
}
.input-group {
    margin-bottom: 1rem;
    text-align: left;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    color: black;
  }

  input::placeholder {
    color: rgba(58, 58, 58, 0.7);
  }

  button {
    width: 100%;
    padding: 10px;
    background: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background: #a56c7f;
  }

  .switch-text {
    margin-top: 10px;
  }

  .switch-text a {
    color: white;
    text-decoration: underline;
  }

  #registerSection.d-none {
    display: none !important;
  }

  /*================================================*/
/*CSS PARA TODOS LOS TOTALES EN LIST PARA CADA MÓDULO*/
/*================================================*/
.section-container-summary { 
  background-color: transparent !important;
  margin: 0;
}
.container-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  background-color: #ebe6e6;
  padding: 10px 20px;
}

h4 {
  font-size: 16px !important;
  margin-top: 10px !important;
  font-weight: 700;
  margin: 0;
}
/*================================================*/
/*CLIMA*/
/*================================================*/
